/* style.css */
html, body {
  overflow: hidden;
}




/* html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  This centers our sketch horizontally. 
  justify-content: center;

} */

/* <link rel="stylesheet" href="style.css"> */